<a href="https://colab.research.google.com/github/rajat031/machinelearninglab-cs3-acro/blob/master/Copy_of_Python_Basics_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### print() function

In [24]:
# First Program
print("acropolis")

acropolis

### Comments

### Variables

In [23]:
# In Python there is no need to mention the data type

var1 = 20      # An integer assignment
var2 = 4.123   # A floating point
var3 = "India" # A string

print(var1,' ',var2,' ',var3)

20   4.123   India

### Assignment

In [22]:
# general syntax
#variable-name=value

# Assigning same value to multiple variables

var1 = var2 = var3 = 1
print(var1,' ',var2,' ',var3)

# Assigning Different values to variable in a single expression

var1, var2, var3 = 1, 2.5, "rajat"
print(var1,' ',var2,' ',var3)

# Note: commas can be used for multi-assignments

1   1   1
1   2.5   rajat

### Taking input

In [25]:
firstname = input("Enter your first name: ")
lastname = input("Enter your second name: ")
semester = input("Enter your semester: ")

Enter your first name: rajat
Enter your second name: tambare
Enter your semester: 6

In [27]:
# run below code
age = input("Enter your age: ")
age = int(age)+5
print(age)

Enter your age: 21
26

### Write a program in Python for data type conversion from: 
- int to string
- int to float
- string to int
- string to float
- float to int
- float to string

In [28]:
a=10
print(str(a))
print(float(a))

b='20'
print(int(b))
print(float(b))

c=23.56
print(int(c))
print(str(c))

10
10.0
20
20.0
23
23.56

### Task1: 
#### WAP to display your infomation like (full name, branch, university name, age, 12th %, hobbies). Store each value into some meaningful variable.  the ouptput of the program should look like

In [29]:

full_name=input("Enter your full name: ")
branch=input("Enter your branch: ")
university=input("Enter your university: ")
age=input("Enter your age: ")
twelth_per=input("Enter your 12%: ")
hobbies=input("Enter your hobbies: ")
print(full_name)
print(branch)
print(university)
print(age)
print(twelth_per)
print(hobbies)

Enter your full name: rajat tambare
Enter your branch: cse
Enter your university: rgpv
Enter your age: 21
Enter your 12%: 72
Enter your hobbies: food,crickrt,music
rajat tambare
cse
rgpv
21
72
food,crickrt,music

### Commmonly used functions 
- round(n)
- format(n, '0.2f')
- format(n,',') # put a comma on thousand place
- format(n,'b') # print binary of the number, 'o', 'x'

- eval(expression)
- chr(n)
- ord(character)
- bin(n), oct(n), hex(n)

- #### function on string/character data
- isdigit()
- isalpha()
- isspace()
- numeric()
- ljust(width)
- rjust(width)
- cjust(width)

In [30]:
# Python3 program to demonstarte 
# the str.format() method 
  
# using format option in a simple string 
print ("{}, A computer science portal for acropolis."
                        .format("acropolis")) 
  
# using format option for a 
# value stored in a variable 
str = "This article is written in {}"
print (str.format("Python")) 
  
# formatting a string using a numeric constant 
print ("Hello, I am {} years old !".format(20))

acropolis, A computer science portal for acropolis.
This article is written in Python
Hello, I am 20 years old !

In [31]:
# Characters and their ASCII value

x=68
# print character corresponding to x 
print(chr(x))
char='D'
# print number corresponding to char
print(ord(char))

D
68

In [20]:
# write code to print your name 10 times
print('ACROPOLIS'*10)

ACROPOLISACROPOLISACROPOLISACROPOLISACROPOLISACROPOLISACROPOLISACROPOLISACROPOLISACROPOLIS

In [19]:
for i in range(5):
    print("*"*i)

# new pattern program
print("\n")
for i in range(4,0,-1):
  print("*"*i)

*
**
***
****


****
***
**
*

In [11]:
for i in range(1,6):
  print(" "*(6-i),"*"*i)

      *
     **
    ***
   ****
  *****

In [12]:
# use seperator and end with specific symbol
a, b, c = 10, 20, 30
print(a,b,c,sep=':',end=',')

10:20:30,

In [13]:
for i in range(1,5):
    print(" "*(5-i),"*"*i)

     *
    **
   ***
  ****

In [14]:
# unpack characters
word = 'PYTHON'
a,b,c,d,e,f = word
print(a,b,c,d,e,f)

P Y T H O N

### Format output

In [15]:
x = 5 
y = 10
print('The value of x is {} and y is {}'.format(x,y))

The value of x is 5 and y is 10

In [16]:
print('I like {0} and {1}'.format('ice cream','chocolate'))

I like ice cream and chocolate

In [17]:
print('I like {1} and {0}'.format('ice cream','chocolate'))

I like chocolate and ice cream

In [18]:
print('Hello {name}, {greeting}'.format(greeting = 'Good morning', name = 'Sachin !'))

Hello Sachin !, Good morning

### Task2
#### Raman likes tea but he has coffee. Riya likes coffee but has tea. Write a program in python so that both can enjoy what they like.

In [10]:
# write your code after this line
raman_has='coffee'
riya_has='tea'
temp=raman_has
raman_has=riya_has
riya_has=temp
print("raman_has :{}".format(raman_has))
print("riya_has :{}".format(riya_has))

raman_has :tea
riya_has :coffee

### Task3
Write a program for following
- Input: 'Python'
- Output: 642

In [34]:
e,f,g,h,i,j='Python'
s=ord(e)+ord(f)+ord(g)+ord(h)+ord(i)+ord(j)
print(s)

642

# Working with math, calendar, random, datetime

In [7]:
import math
print(math.sqrt(9))
print(math.floor(10.8))
print (math.ceil(10.5))
math.pi

3.0
10
11

3.141592653589793

In [33]:
import random
x = random.random() # generate any random number between 0 and 1
print("x = ", x)

y = random.randint(5,20)# generate any random number between 5 and 20
print("y = ", y)

x =  0.10619705056091899
y =  6

In [32]:
import datetime

date = datetime.datetime.now().date() # YYYY-MM-DD format
year = datetime.datetime.now().year
month = datetime.datetime.now().month
day = datetime.datetime.now().day

print(date)
print(year)
print(month)
print(day)

2020-01-10
2020
1
10

In [6]:
import calendar

year = int(input("Enter Year : "))
month = int(input("Enter the Month : "))

print(calendar.month(year, month))

Enter Year : 1997
Enter the Month : 10
    October 1997
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31